<div class="step-two">
    <div class="step-two__container">
        <h3>Reglas del juego</h3>
        <p>
        El juego consiste en una curva creciente que puede explotar en cualquier momento.
        Esta curva, o multiplicador, comienza en 1x y se va incrementando hasta un
        determinado momento en donde explota. Cada persona debe hacer
        una apuesta previa al inicio y lograr salir antes de la explosión. En caso de
        lograrlo, el usuario se lleva lo que apostó multiplicado por el multiplicador; en
        caso contrario, pierde todo.
        </p>
        <p class="step-two__text">Ingresa tu apuesta inicial</p>
        <form [formGroup]="form" (ngSubmit)="nextStep()">
            <mat-form-field>
                <mat-label>Tu apuesta</mat-label>
                <input type="number" formControlName="bet" matInput>
                <mat-error *ngIf="form.controls['bet'].hasError('min') || form.controls['bet'].hasError('required')">
                    Debe ingresar un monto mayor o igual a 1.
                </mat-error>
                <mat-error *ngIf="form.controls['bet'].hasError('max')">
                    Saldo insuficiente.
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Tu predicción</mat-label>
                <input type="number" formControlName="prediction" matInput>
                <mat-error>
                    Debe ingresar un valor entre 1 y 10.
                </mat-error>
            </mat-form-field>  
            <button type="submit" [disabled]="form.invalid" mat-raised-button>PLAY</button>
        </form>
        <button (click)="backStep()"  color="primary" mat-button>Volver</button>       
    </div>
</div>