.step-two{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    
    p{
        text-align: justify;
        margin-bottom: 25px;
    }    
    
    &__container{
        max-width: 400px;
        button{
            width: 100%;
        }
        mat-form-field{
            width: 100%;
            margin-bottom: 10px;
        }
    }
    
    &__text{
        margin-bottom: 10px !important;
    }
}