<div class="home">
    <app-step-one *ngIf="step === 1" (changeStep)="step = $event" (dataUser)="getUser($event)"></app-step-one>
    <app-step-two *ngIf="step === 2" (changeStep)="step = $event" (dataFirstBet)="getFirstBet($event)"></app-step-two>
    <div *ngIf="step === 3">
        <div class="home__user">
            <h4 *ngIf="true">Usuario: {{dataUser.name ? dataUser.name : 'Invitado'}}</h4>
            <h4 *ngIf="true">Saldo: ${{dataUser.money}}</h4>
        </div>
        <app-chart (updateBalance)="updateBalance($event)" [balance]="dataUser.money" [currentBet]="dataFirstBet"></app-chart>
    </div>
</div>